:root {
  --font-stack: "Averia Serif Libre", Georgia, serif;
  --bg: rgb(7, 7, 23);
  --fg: plum;
  --accent: rgb(138, 46, 165);
}

html {
  font-family: var(--font-stack);
  color: var(--fg);
  background-color: var(--bg);
  font-size: 24px;
}

body {
  width: 24rem;
  margin: 1rem auto;
  padding: 1rem;
}

h1 {
  color: var(--accent);
}

a {
  box-sizing: border-box;
  color: var(--bg);
  background-color: var(--fg);
  border: solid transparent;
  border-radius: 3px;
  text-decoration: none;
}

a:hover {
  color: var(--fg);
  background-color: var(--accent);
}

a:focus {
  background-color: var(--bg);

  color: var(--fg);
}

img {
    width: 24rem;
}

::selection, ::-moz-selection {
    background-color: var(--accent);
}