:root {
    --dark: #111;
    --light: #eee;
    --gray:  #9f9f9f;
    --green: #0c775c;
}
body {
    background-color: var(--dark);
    color: var(--light);
    margin: auto;
    padding: 2em;
    max-width: 60ch;
    font-family: "Inter UI", sans-serif;
   
}

a {
    text-decoration: none;
    color: var(--green);
    font-size: 100%;
    transition: font-size 0.5s;

}
a:hover {
    font-size: 90%;
    transition: font-size 0.5s;
}

h1 {
    padding: 1rem 0;
    font-size: 2rem;
    line-height: 2rem;
}

h1, h2 {
    color: var(--gray);
}

::selection {
    background-color: var(--green);
    color: var(--dark);
}

